# Streamlit and UI Components
streamlit
streamlit-scroll-to-top
gspread
oauth2client
git+https://github.com/streamlit/streamlit-gsheets.git
streamlit-components

# Data Processing
pandas
numpy

# Visualization
plotly
matplotlib
seaborn

# AI and OpenAI API
openai
text-embedding-ada-002

# Environment Variables
python-dotenv

# Utilities and Performance
requests
uuid
jsonschema
joblib
pydantic
scipy
statsmodels
scikit-learn

# File Handling
Pillow

# Audio Recorder
audio-recorder-streamlit
