# Streamlit and UI Components
streamlit
streamlit-scroll-to-top
gspread
oauth2client
st-gsheets-connection

# Data Processing
numpy==1.23.5
pandas==1.5.3

# Visualization
plotly
matplotlib
seaborn

# AI and OpenAI API
openai

# Environment Variables
python-dotenv

# Utilities and Performance
requests
uuid
jsonschema
joblib
pydantic
scipy
statsmodels
scikit-learn

# File Handling
Pillow

# Audio Recorder
audio-recorder-streamlit
