# Essential Libraries
streamlit
pandas
numpy
matplotlib
seaborn
scipy
scikit-learn
statsmodels

# API & Cloud
openai
requests
boto3
s3fs

# Async & Performance
aiobotocore
aiohttp
asyncio

# Misc
pyyaml
pydantic
pyarrow
plotly
python-dotenv
